
html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.embed--inner > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageloader {
  // img, .img {
    opacity: 0;
    transition: {
      property: opacity;
      duration: 0.5s;
    }
  // }

  &.imageloader-loaded {
    // img, .img {
      opacity: 1;
    // }
  }
}
